<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.business.mapper.education.ExamInfoMapper">

    <select id="selectStudentExamList" resultType="studentExamInfoDto">
        select
          exam.*, subject.name subject_name, paper.name test_paper_info_name, paper.question_number, paper.mark testPaperInfoMark
        from exam_info exam left join test_paper_info paper
        on exam.test_paper_info_id = paper.id left join subject_info subject
        on paper.subject_id = subject.id

        <where>
            <if test="studentExamInfoDto.studentId != null">
                and exam.student_id = #{examInfo.studentId}
            </if>

            <if test="studentExamInfoDto.subjectId != null">
                and paper.subject_id = #{examInfo.subjectId}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="studentExamInfoDto">
         select exam.*, paper.name test_paper_info_name, paper.question_number, paper.exam_time testPaperExamTime
         from exam_info exam left join test_paper_info paper
         on exam.test_paper_info_id = paper.id where exam.id = #{id}
    </select>

    <select id="selectExamList" resultType="studentExamInfoDto">
        select
        exam.*, grade.name grade_name, subject.name subject_name, paper.mark testPaperInfoMark, paper.name test_paper_info_name, student.name student_name
        from exam_info exam left join test_paper_info paper on exam.test_paper_info_id = paper.id
        left join subject_info subject on paper.subject_id = subject.id
        left join student_info student on exam.student_id = student.id
        left join grade_info grade on student.grade_info_id = grade.id

        <where>
            <if test="studentExamInfoDto.studentName != null and studentExamInfoDto.studentName != ''">
                <bind name="name" value="'%' + studentExamInfoDto.studentName + '%'"/>
                and student.name like #{name}
            </if>

            <if test="studentExamInfoDto.testPaperInfoName != null and studentExamInfoDto.testPaperInfoName != ''">
                <bind name="name" value="'%' + studentExamInfoDto.testPaperInfoName + '%'"/>
                and paper.name like #{name}
            </if>

            <if test="studentExamInfoDto.correctFlag != null ">
                and exam.correct_flag = #{studentExamInfoDto.correctFlag}
            </if>
        </where>
    </select>

    <select id="selectExamReportList" resultType="examInfoReport">
        SELECT
            paper.name,
            paper.mark,
            paper.exam_number,
            paper.grade_info_id,
            paper.subject_id,
            grade.name grade_name,
            subject.name subject_name,
            a.avg_source
        FROM
            ( SELECT test_paper_info_id, AVG( mark ) avg_source FROM exam_info GROUP BY test_paper_info_id ) a
            LEFT JOIN test_paper_info paper ON a.test_paper_info_id = paper.id
            LEFT JOIN subject_info subject ON paper.subject_id = subject.id
            LEFT JOIN grade_info grade ON grade.id = paper.grade_info_id
           <where>
               <if test="testPaperInfo.gradeInfoId != null">
                   and paper.grade_info_id = #{examInfo.gradeInfoId}
               </if>

               <if test="testPaperInfo.subjectId != null">
                   and paper.subject_id = #{examInfo.subjectId}
               </if>
           </where>
        ORDER BY
            paper.sort ASC
    </select>
</mapper>